body {
    background: url("../../static/img/wood_pattern.png") repeat fixed;
    text-align: center;
    font-family: 'Bitter', serif;
}

.portrait {
    width: 25%;
    height: auto;
    padding: 5em;
    margin: auto;
}


#titletext {
    padding: 1em;
}

a,
a:focus,
a:hover {
    color: #fff;
    color: #C93C3C;
}

#media {
    padding-bottom: 1cm;
}

.center {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 1em;
    margin: 1em auto;
}

i {
    margin: 0.5em;
}
